@import url("$lib/_common.less");
@import url("$lib/_vars.less");


#app .trivia {
	position: inherit;

	.players {
		.player {
			&.active {
				filter: none;
			}

			&.selected {
				filter: url(#svgGlow);
			}
		}
	}

	.score {
		position: fixed;
		top: 2rem;
		right: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;

		&.players {
			.wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 3rem;
				margin: 0 1rem;

				.player {
					width: 2.5rem;
					height: 2.5rem;
					margin: 0;
					padding: 0;
					filter: url(#pixelate-sm);
				}

				.points {
					font-size: 1.3rem;
				}
			}
		}

	}

	.question {

		width: 90vw;
		display: flex;
		align-items: center;
		justify-content: center;
		max-height: 90vh;
		flex-direction: column;
		padding-bottom: 1rem;

		h1 {
			color: #fff;
			font-size: 3rem;
			margin-bottom: 3rem;
			text-align: center;
			white-space: pre-line;
			font-family: "Vaticanus", monospace;
			width: 80%;
			text-align: center;
			z-index: 2;

			pre {
				// font-family: "Vaticanus", monospace;
				// font-family: "PixeloidBold", monospace;
				// width:100%;
				font-family: "Pixelon", monospace;
				padding: 1rem 2rem;
				margin: 1rem;
				border-radius: 0.3rem;
				background: #000;
				color: #aaa;
				white-space: normal;
				page-break-inside: avoid;
				display: block;
				word-wrap: break-word;
				white-space: pre;
				text-align: left;
			}
		}

		.answers {
			list-style: none;
			padding: 0;

			&-wrapper {
				position: relative;
				width: 80%;

				.players {
					.balanceOutFilter();
					position: absolute;
					right: 1rem;
					top: 0;
					bottom: 0;
					align-items: start;

					.player {
						height: auto;
						margin: 1rem 0rem;
						width: 4rem;
						padding: 0;
						position: relative;
					}
				}


			}

			li {
				flex-grow: 1;
				position: relative;
				margin: 1rem 0rem;
				padding: 1rem 2rem;

				.back {
					background-color: @primary-d;
					border: 0.3rem solid @primary-m;
					.balanceOutFilter();

					&.selected {
						filter: brightness(0.7);
					}

					&.answered {
						filter: grayscale(0.4) brightness(0.5);
					}

					&.correct {
						filter: none;
						background-color: @correct;
						border: 0.3rem solid @correct-border;
					}

					border-radius: 3rem;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;

				}


				.text {
					color: #fff;
					font-size: 2rem;
					margin: 0;
					padding: 0;
					position: relative;
					line-height: 2rem;
					vertical-align: baseline;
					max-width: 50%;
					z-index: 2;
				}
			}
		}
	}
}